<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display board || GUDLFT</title>
</head>
<body>
    {% if club %}
    <h2>Welcome, {{club['email']}} </h2><a href="{{url_for('logout')}}">Logout</a>
    {% endif %}

    {% with messages = get_flashed_messages()%}
        {% if messages %}
            <ul>
           {% for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
           </ul>
        {% endif %}
    {%endwith%}

    <h3>Clubs :</h3>
    <ul>
    {% for club in clubs %}
    <li>
        {{club.name}} <br>
        remaining points: {{ club.points }}
    </li>
    <hr />

    {% endfor %}
</ul>

</body>
</html>