{% extends 'base.html' %}


{% block head %}
    <title>GUDLFT Registration</title>
{% endblock %}


{% block body %}

    <div class='content'>
        <h1>Welcome to the GUDLFT Registration Portal!</h1>

        <p>Please enter your secretary email to continue:</p>

        <form action="showSummary" method="post">
            <label for="email">Email:</label>
            <input type="email" name="email" id=""/>
            <button type="submit">Enter</button>
        </form>
    </div>

{% endblock %}
