<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet">
        <title>GUDLFT Registration</title>
    </head>
    <body>
        <div class="bg-gradient-to-br from-blue-700 to-fuchsia-400 flex justify-center text-center h-screen">
            <div class="bg-white h-4/6 w-5/6 m-auto p-auto flex drop-shadow-md rounded">
                <div class="bg-gradient-to-br from-violet-400 to-rose-400 w-4/6 grid content-center rounded">
                    <h1 class="text-3xl m-5 text-white font-sans font-bold">Welcome to the GUDLFT Registration Portal!</h1>
                    <p class="text-white mb-8 text-xl">See below the table that sums up the point that each clubs has.</p>
                    <table class="text-white w-2/3 content-center mx-auto text-center p-auto mb-16">
                        <thead class="bg-violet-700">
                            <tr>
                                <th>Club</th>
                                <th>Points available</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for club in clubs %}
                            <tr>
                                <td class="bg-gray-200 text-violet-600">{{club['name']}}</td>
                                <td class="bg-gray-200 text-violet-600">{{club['points']}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <br>
                    </table>
                </div>
                <div class="w-2/6 grid content-center">
                    <h1 class="font-bold text-3xl text-violet-400 mb-8">USER LOGIN</h1>
                    <p class="text-violet-400 mb-4">Please enter your secretary email to continue</p>
                    <form action="showSummary" method="post" class="flex flex-col w-4/6 m-auto">
                        <label for="email"></label>
                        <input class="rounded-3xl bg-gray-300 p-1.5 m-auto w-5/6" type="email" name="email" id=""/>
                        <button class="mt-4 text-white font-bold w-2/6 bg-gradient-to-br from-violet-400 to-rose-400 p-1.5 m-auto rounded-3xl" type="submit">LOGIN</button>
                    </form>
                    {% if error %}
                    <p style="color: red;">{{error}}</p>
                    {% endif %}
                    <br>
                </div>
            </div>
        </div>
    </body>
</html>
