<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet">
        <title>Summary | GUDLFT Registration</title>
    </head>
    <body>
        <div class="bg-gradient-to-br from-blue-700 to-fuchsia-400 flex flex-col justify-center text-center h-screen">
            <div class="h-1/6">
                <h2 class="text-white text-3xl mt-5">Welcome, {{club['email']}} </h2>

                {% with messages = get_flashed_messages()%}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li class="text-white">{{message}}</li>
                    {% endfor %}
                </ul>
                {% endif%}
                <p class="text-white mb-3 text-xl">Points available: {{club['points']}}</p>
                <a class="bg-gradient-to-br from-violet-400 to-rose-400 rounded-3xl p-2 text-white" href="{{url_for('logout')}}">Logout</a>
            </div>
            <table class="text-white w-2/3 h-1/6 content-center mx-auto text-center p-auto mb-16 mt-3">
                <thead class="bg-gray-900">
                    <tr>
                        <th>Club</th>
                        <th>Points available</th>
                    </tr>
                </thead>
                <tbody>
                    {% for club in clubs %}
                    <tr>
                        <td class="bg-gray-200 text-violet-600">{{club['name']}}</td>
                        <td class="bg-gray-200 text-violet-600">{{club['points']}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <br>
            </table>
            <h2 class="text-6xl text-white">Competitions</h2>
            <div class="h-4/6 p-4">
                <div class="grid grid-cols-4 gap-4">
                    {% for comp in competitions%}
                    <div class="bg-white rounded h-36 text-center flex flex-col drop-shadow-xl">
                        <h4 class="text-xl">{{comp['name']}}</h4>
                        <p>Date: {{comp['date']}}</p>
                        <p>Number of Places: {{comp['numberOfPlaces']}}</p>
                        {% if comp['numberOfPlaces']|int >0 and not comp['passed'] %}
                        <a class="m-auto p-1 w-1/3 bg-gradient-to-br from-violet-400 to-rose-400 rounded-3xl text-white" href="{{ url_for('book',competition=comp['name'],club=club['name']) }}">Book Places</a>
                        {%endif%}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {%endwith%}
        </div>
    </body>
</html>
